/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('./assets/Mega.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ubicación de tu imagen */
    background-size: cover; /* Escala la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Mantiene la imagen de fondo fija mientras se desplaza la página */
    /* Otros estilos CSS para el contenido de tu página */
}


.titulo {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

